@inherits   UmbracoViewPage<UmbMapper.Sample.RenderModels.RenderPage<UmbMapper.Sample.Models.Pages.Home>>
@{
}

<!DOCTYPE html>
<html lang="@Model.CurrentCulture.TwoLetterISOLanguageName" prefix="og: http://ogp.me/ns#">
<head>
    @Html.Partial("~/Views/Partials/Shared/_Meta.cshtml", Model)
    @RenderSection("HeaderAssets", false)
    <style type="text/css">
        .slides {
            width: 100%;
            overflow-y: auto;
        }

            .slides figure {
                display: inline-block;
                width: 200px;
                vertical-align: top;
            }
    </style>
</head>
<body>
    @RenderBody()
    @RenderSection("BodyAssets", false)
</body>
</html>